# Ignorar entorno virtual
venv/
env/
ENV/
.venv/
tree.txt

# Ignorar configuraciones específicas del entorno
*.env
firebase-adminsdk.json

# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Ignorar archivos de log
*.log

# Ignorar archivos de configuración de IDE
.vscode/

# Ignorar archivos de distribución
dist/
build/
*.egg-info/
